
{{define "user_forgotten_password" }}

{{ template "header" . }}


{{ if .Errors }}
        <ul>
        {{range $Error := .Errors}}
          <li> {{ $Error | html }} </li>
        {{end}}
        </ul>
{{ end }}


        <form name="forgotten_password_form" method="POST" action="/user/forgotten_password" >
        <table>
                <tr>
                <tr>
                <td><label for="Login">Entrez votre identifiant</label></td>
                <td><input name="Login" id="Login" maxlength="50"
                         size="20" type="text" required=""> </td>
                </tr>

        </table>
        <input value="Valider" type="submit">
        </form>


{{ template "footer" . }}

{{ end }}


