
{{define "user_change_password" }}

{{ template "header" . }}

{{ if .Errors }}
<ul>
	{{range $Error := .Errors}}
	<li> {{ $Error | html }} </li>
	{{end}}
</ul>
{{ end }}


<form name="change_password_form" method="POST" action="/user/change_password" >

<table>
<tr>
	<td><label for="NewPassword">Entrez un nouveau mot de passe</label></td>
	<td>
		<input type="password" name="NewPassword" id="NewPassword" 
                        maxlength="50" size="50" placeholder="Nouveau mot de passe" required>
	</td>
</tr>
<tr>
	<td><label for="NewPasswordConfirmation">Confirmez le nouveau mot de passe</label></td>
	<td>
		<input type="password" name="NewPasswordConfirmation" 
			id="NewPasswordConfirmation" maxlength="50" size="50" 
			placeholder="Confirmation du nouveau mot de passe" required>
	</td>
</tr>
<tr>
	<td colspan=2 align="center" >
	<button type="submit">Enregistrer le nouveau mot de passe</button>
	</td>
</tr>
</table>

</form>




{{ template "footer" . }}

{{ end }}




